/* 공통부분 */
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a{
  color:white;
  text-decoration: none; /* 링크 언더라인 삭제 */
}

html{
  scroll-behavior: smooth;
}

.max-width{
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}
/* 상단 네비게이션 & 로고  */
.navBar{
  position: fixed; /* 상단에 고정 */
  background-color: #3E4034;
  width: 100%;
  padding: 20px 0;
  z-index: 999; /* z축을 기준으로 가장 위에 배치 */
  transition: all 0.5s ease;
  font-size: 20px;
  font-family: 'Montserrat', 'sans-serif';/*각종 웹브라우저에 호환되는 나눔고딕체 적용*/
}
.navBar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between; /* 요소들을 좌 우로 정렬 */
}
.navBar .logo{
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
  color: white;
}

.navBar .menu-bar li{
  list-style: none;
  margin: 5px 20px 0 0;
  display: inline-block;
}

.navBar .menu-bar li a:hover{
  color: yellow;
  transition: 0.5s;
}

/* 메인 화면 섹션 */
.homeSec{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  min-height: 500px;
  background-color: #3E4034;
}
.homeSec .max-width{
   margin: auto 0 auto 0; /*margin top right bottom left;*/
}

.homeSec .home-section h1{
  color: #BFBFBA;
  margin:20px 20px 30px 20px;
}
.home-section .korean-comment{
  font-family: 'Noto Sans KR',sans-serif;
  font-weight: 500;
  font-size: 70px;
}

.home-section .english-comment{
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  font-family: 'Montserrat',sans-serif;
}


.homeSec .home-section a{
  -webkit-text-stroke: 1px black;
  color:white;
  transition: all 0.3s;
}
.homeSec .home-section a:hover{
  color:yellow;
}

/* 자기 소개 섹션 */
.aboutSec{
  font-family: 'Montserrat',sans-serif;
  height: 100vh;
  background-color: #3E4034;
}
.homeSec .max-width{
  margin: auto 0 auto 0; /*margin top right bottom left;*/
}
.aboutSec .aboutTitle{
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  color: #BFBFBA;
}

  /* Color Theme Swatches in Hex */
.Venice-Panorama-1-hex { color: #3E4034; }
.Venice-Panorama-2-hex { color: #58594F; }
.Venice-Panorama-3-hex { color: #8B8C81; }
.Venice-Panorama-4-hex { color: #D9D9D2; }
.Venice-Panorama-5-hex { color: #BFBFBA; }

